__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.venv/
env/
venv/
*.tfstate
*.tfstate.*
.crash
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.pem
*.log
*.tar
*.bak
.kube/
.DS_Store
Thumbs.db
.vscode/
.Trashes